<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icone.png" type="image/png">
    <title>ELEJA - Voto</title>
    
    <!-- Importando a fonte Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet" />

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- SweetAleart2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Configuração da fonte no Tailwind via CDN -->
    <script>
        tailwind.config = {
        theme: {
            extend: {
            fontFamily: {
                sans: ['Montserrat', 'sans-serif'],
            },
            colors: {
                'meu-vermelho': '#b20000',
            },
            },
        },
        }
    </script>
</head>

<body class="flex flex-col font-sans min-h-screen bg-white text-black" onload="botaoVotar()">
    <nav class="flex flex-col bg-white max-h-max justify-between items-center">
        <div class="flex items-center w-full justify-between">
            <a href="home.html"><img class="max-w-48" src="../assets/logo-fatec.png" alt="logo fatec"></a>
            <img src="../assets/logo-cps.png" class="max-w-48" alt="logo cps">
        </div>
        <div class="flex w-full justify-center items-center h-12 bg-[#b20000]">
            <ul class="flex items-center gap-16 text-white text-xl">
                <li><a class="hover:text-black" href="home.html">Início</a></li>
                <li><a class="hover:text-black" href="voto.html">Votação</a></li>
                <li><a class="hover:text-black" href="candidatar.php">Candidatar</a></li>
                <li><a class="hover:text-black" href="regulamento.html">Regulamento</a></li>
                <li><a class="hover:text-black" href="notificacao.html">Notificações</a></li>
            </ul>
            <a class="hover:text-black text-white text-xl absolute right-6" href="../index.html">Sair</a>
        </div>
    </nav>

    <div class="w-full flex h-20 border-b border-gray-400 shadow-sm items-center justify-center">
       <h1 class="text-3xl font-bold">VOTAÇÃO</h1>
    </div>
    
    <main class="flex flex-col items-center py-[50px] mb-auto">

        <div class="grid gap-6 grid-flow-row w-max">

            <div class="border px-12 py-4 shadow-md">
                <h2 class="text-xl font-semibold">Eleição para representante de turma - Primeiro Semestre/DSM</h2>
                <div class="flex justify-around gap-16 items-center">
                    <div>
                        <p>Situação: Em Andamento</p>
                        <p>Data de inicio: 16/05/2025 ás 19:45</p>
                        <p>Data de Encerramento: 16/05/2025 ás 19:45</p>
                    </div>
                    <div>
                        <button class="votar w-[14rem] py-2 rounded-lg bg-[#b20000] hover:bg-red-600 text-xl font-semibold text-white" data-modal="modal-candidatos" type="button">VOTAR</button>
                    </div>
                </div>
            </div>
            
            <div class="border px-12 py-4 shadow-md">
                <h2 class="text-xl font-semibold">Eleição para representante de turma - Primeiro Semestre/DSM</h2>
                <div class="flex justify-around gap-16 items-center">
                    <div>
                        <p>Situação: Encerrada</p>
                        <p>Data de inicio: 16/05/2025 ás 19:45</p>
                        <p>Data de Encerramento: 16/05/2025 ás 19:45</p>
                    </div>
                    <div>
                        <a href="resultado.html"><button class="w-[14rem] py-2 rounded-lg bg-[#b20000] hover:bg-red-600 text-xl font-semibold text-white" type="button">VER RESULTADO</button></a>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer class="bg-black flex justify-center items-center py-3 gap-4">
        <img class="max-w-[150px]" src="../assets/logo-sem-fundo-branca.png" alt="logo ELEJA">
        <p class="text-white text-base pt-2">&copy; Todos os direitos reservados ao grupo <b>ELEJA.</b></p>
    </footer>

    <dialog id="modal-candidatos">
        <div class="flex flex-col p-5 gap-6 max-w-[900px]">
            <div class="flex">
                <h2 class="mx-auto text-2xl font-bold">Selecione seu representante de turma</h2>
                <button class="absolute right-4 cancelar w-8 bg-[#b20000] rounded-md" data-modal="modal-candidatos"><img class="h-8 mx-auto" src="../assets/cancelar.png" alt="botão cancelar"></button>
            </div>

            <div class="flex gap-4 overflow-x-auto pb-3 pl-4 pr-4 scroll-pl-4 snap-x">

                <div class="flex flex-col items-center gap-2 border-2 py-4 rounded-md w-56 snap-start shrink-0">
                    <img class="w-40" src="../assets/user.png" alt="">
                    <p class="text-lg font-semibold">Nome Completo</p>
                    <label class="flex gap-1 items-center cursor-pointer">
                            <input class="peer hidden" type="radio" name="selecionar">
                            <span class="px-2 py-2 rounded-full border border-gray-500 peer-checked:bg-red-600"></span>
                    Selecione</label>
                    
                </div>

                <div class="flex flex-col items-center gap-2 border-2 py-4 rounded-md w-56 snap-start shrink-0">
                    <img class="w-40" src="../assets/user.png" alt="">
                    <p class="text-lg font-semibold">Nome Completo</p>
                    <label class="flex gap-1 items-center cursor-pointer">
                            <input class="peer hidden" type="radio" name="selecionar">
                            <span class="px-2 py-2 rounded-full border border-gray-500 peer-checked:bg-red-600"></span>
                    Selecione</label>
                </div>

                <div class="flex flex-col items-center gap-2 border-2 py-4 rounded-md w-56 snap-start shrink-0">
                    <img class="w-40" src="../assets/user.png" alt="">
                    <p class="text-lg font-semibold">Nome Completo</p>
                    <label class="flex gap-1 items-center cursor-pointer">
                            <input class="peer hidden" type="radio" name="selecionar">
                            <span class="px-2 py-2 rounded-full border border-gray-500 peer-checked:bg-red-600"></span>
                    Selecione</label>
                </div>

                <div class="flex flex-col items-center gap-2 border-2 py-4 rounded-md w-56 snap-start shrink-0">
                    <img class="w-40" src="../assets/user.png" alt="">
                    <p class="text-lg font-semibold">Nome Completo</p>
                    <label class="flex gap-1 items-center cursor-pointer">
                            <input class="peer hidden" type="radio" name="selecionar">
                            <span class="px-2 py-2 rounded-full border border-gray-500 peer-checked:bg-red-600"></span>
                    Selecione</label>
                </div>

            </div>
            <button class="confirmarVoto mx-auto w-[16rem] py-3 rounded-lg bg-[#b20000] hover:bg-red-600 text-xl font-semibold text-white" type="button">VOTAR</button>
        </div>
    </dialog>
    <script src="/script.js"></script>
</body>
</html>